@media (max-width: 480px) {
  .form {
    padding-left: 2px;
    padding-right: 2px;
    width: 90%;
  }

  .form h1 {
    font-size: 24px;
    margin-bottom: 2vh;
  }

  .form input,
  .form select {
    padding: 10px;
    font-size: 14px;
  }

  .form button {
    padding: 10px;
    font-size: 16px;
  }

  .form .footerContent {
    font-size: 12px;
  }

  .container {
    padding: 0 10px;
  }

  .form {
    margin-top: 2rem;
  }
}

/* FONDO GLOBAL */
.login-layout {
  display: flex;
  height: 100vh;
  flex-direction: row;
  background: url('/fondo.png') no-repeat center center;
  background-size: cover;
}

/* FORMULARIO */
.form {
  background-color: rgba(255, 255, 255, 0.25); 
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  padding: 7vh;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  align-items: center;
  width: 100%;
  max-width: 300px;
  border: 2px solid rgba(255, 255, 255, 0.35); 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);   
}

.form h1 {
  color: #003366;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 4vh;
}

.form label {
  color: #003366;
  font-weight: bold;
  margin-bottom: 0.7vh;
}

.form input,
.form select,
.form textarea {
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 8px 5px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  margin-bottom: 0.8vh;
  font-size: 16px;
  color: #003366;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(6px);
  width: 100%;
}

.form input::placeholder,
.form select::placeholder,
.form textarea::placeholder {
  color: rgba(0, 51, 102, 0.4);
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  background-color: rgba(255, 255, 255, 0.4);
  outline: none;
}

.form select {
  background-image: url('../assets/ChevronDownIcon.svg');
  background-position: calc(100% - 12px) center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form button {
  padding: 1.2vh 0;
  border-radius: 12px;
  border: none;
  width: 100%;
  background-color: #367c45;
  color: #eef7ff;
  font-weight: bold;
  font-size: 16px;
  border: 3px solid #0e1b11;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.form button:hover {
  border: 3px solid #003366;
  background-color: #eef7ff;
  color: #003366;
  transition: 0.3s ease-out;
}

.form .error-message {
  visibility: hidden;
  height: 20px;
  color: red;
  font-size: 13px;
  padding-left: 5px;
}

.form .error-message.visible {
  visibility: visible;
}

.container_inputs {
  position: relative;
  margin-bottom: 5px;
}

.toggle-password-icon {
  position: absolute;
  right: 15px;
  top: 44%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.toggle-password-icon img {
  width: 25px;
  height: 25px;
  margin-top: 4px;
}

.footerContent {
  color: #003366;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: center;
}

.footerContent a {
  color: #2465e8;
  font-weight: 600;
  text-decoration: none;
}

.footerContent a:hover {
  text-decoration: underline;
}

/* LAYOUT DIVISIONES */
.login-left {
  flex: 2;
  min-width: 300px;
}

.login-right {
  flex: 1;
  background-color: rgba(243, 233, 233, 0.39); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}


/* RESPONSIVo */
@media (max-width: 768px) {
  .login-layout {
    flex-direction: column;
  }

  .login-left {
    flex: none;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .login-right {
    flex: none;
    padding: 1.5rem;
  }

  .login-right .form {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 20px;
  }
}
