.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003049; /* azul oscuro */
  padding: 10px 20px;
  color: white;
}

.navbar-left .navbar-brand {
  font-size: 1.7rem;
  font-weight: 800;
  color: #4CAF50; /* verde naturaleza */
  text-decoration: none;
  transition: transform 0.2s ease-in-out, color 0.2s;
}

.navbar-left .navbar-brand:hover {
  transform: scale(1.1);
  color: #66bb6a; /* verde más claro al hacer hover */
  text-decoration: none; /* sin subrayado */
}

.navbar-left .navbar-brand:active {
  text-decoration: none;
  transform: scale(0.97);
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
