.table-container {
  border-radius: 8px;
  padding: 16px;
  background-color: #f1f8f4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
  max-width: 100%;
}

.tabulator {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.tabulator-table {
  width: auto !important;
  min-width: unset !important;
  table-layout: auto !important;
}

.tabulator-tableholder {
  width: 100%;
  overflow-x: auto;
  max-width: 100%;
}

.tabulator .tabulator-header {
  background-color: #064420;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 2px solid #052e1d;
}

.tabulator .tabulator-col {
  padding: 12px 8px;
  background-color: #1e7213be;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-title {
  color: rgb(76, 148, 74);
  font-weight: bold;
}

.tabulator .tabulator-row {
  background-color: #b5dfc8;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}

.tabulator .tabulator-row:nth-child(even) {
  background-color: #a0d8b3;
}

.tabulator .tabulator-row:hover {
  background-color: #d9f2e4;
  cursor: pointer;
}

.tabulator .tabulator-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabulator-responsive-collapse {
  padding: 10px 16px;
  font-size: 14px;
  background-color: #f4faf5;
  border-top: 1px solid #cce3d1;
}

.tabulator-responsive-collapse > div {
  margin-bottom: 8px;
}

.tabulator .tabulator-paginator label {
  display: none;
}

.tabulator .tabulator-paginator {
  margin-top: 12px;
  text-align: right;
}

.tabulator .tabulator-page,
.tabulator .tabulator-page-size {
  background-color: #d6eadf;
  border: 1px solid #9ed7b3;
  color: #064420;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 4px;
  margin: 0 2px;
  transition: all 0.3s ease;
}

.tabulator .tabulator-page.active {
  background-color: #064420;
  color: white;
}

@media (max-width: 1024px) {
  .tabulator .tabulator-cell {
    padding: 8px 6px;
    font-size: 12px;
  }
  .tabulator .tabulator-col {
    font-size: 12px;
  }
  .tabulator .tabulator-header {
    font-size: 12px;
  }
}
